body{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    font-size: 32px;
}

.content-container{
    width:80vw;
    margin-top: 5vh;
    box-shadow: 0px 3px 6px rgba(0,0,0,.1);
}

.content-header{
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#6892d5;
    box-shadow: 0px 3px 6px rgba(0,0,0,.1);
    color:white;
}

.content-inner{
    padding: 1em 3em;
}

.content-inner h3{
    margin:0;
}

.food-item{
    transition: .2s ease;
    position:relative;
    padding: .25em 0;
    padding-left: 1em;
    background-color: rgb(255,255,255);
    border-left:solid;
    margin-bottom:.25em;
    border-color: rgb(255,255,255);
    width:100%;
}
.food-item-title{
    position: relative;
}
.food-item-count{
    transition: ease .2s;
    position: absolute;
    background-color: #10f55c;
    border-color: #10f55c;
    color:rgb(50,50,50);
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:solid;
    border-radius: 50%;
    padding:.5em;
    width:.25em;
    height:.25em;
    font-size:.55em;
    top:-.8em;
    right:-1.40em;
    animation: pop ease .5s;
}
.food-item:hover .food-item-count{
    opacity: .5;
}

.btn-container{
    margin-top:2.5vh;
}

.btn-chkout{
    transition: .5s ease;
    position: relative;
    width:10vw;
    height:5vh;
    font-size:.75em;
    background-color: #6892d5;
    border-color: #6892d5;
    border-style:solid;
    color:#ebf0f8;
}

.btn-process img{
    transition: .25s ease;
    position: absolute;
    z-index: 50;
    top:-.5em;
    right:-.5em;
    width: 1em;
}

.opa0{
    transition: .25s ease;
    opacity: 0;
}

.rotate360inf{
    animation: rotate360 1.25s infinite;
}

@keyframes rotate360{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.btn-chkout:hover{
    transition: .5s ease;
    cursor: pointer;
    box-shadow: 0px 4px 7px rgba(0,0,0,.1);
    background-color: rgb(255,255,255);
    color: #6892d5;
}

.btn-success{
    font-size:.5em;
    font-family: sans-serif;
    color: #2cb158;
    opacity: 0;
}

.anim-fade-in{
    animation: 2.5s ease fade-in;
}
.anim-fade-out{
    animation: .5s ease fade-out;
}

@keyframes fade-out{
    0%{
        opacity:100;
    }
    100%{
        opacity:0;
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 100;
    }
    70%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
}

@keyframes pop{ 
    0%{
        width:1em;
        height:1em;
    }
    100%{
        width:.25em;
        height:.25em;
    }
}

.hide-item{
    transition: ease .2s;
    display:none;
}
.food-item:hover{
    cursor: pointer;
    transition: .2s ease;
    color:#6892d5;
    border-color:#6892d5;
    /* background-color: #ebf0f8; */
    box-shadow: 0px 4px 7px rgba(0,0,0,.1);
}

.food-price{
    position:absolute;
    right:1em;
}